{% extends "base_proyecto.html" %}



{% block content %}
    <section>
        <div class="container">
            <div class="album py-4 bg-light">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 col-xs-12 py-3">
                        <div class="text-center">
                            <a href="{% url 'login' %}" class="btn btn-outline-secondary"> Volver al Login.. </a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}