{% extends 'layout.html' %}


{% block contenedor %}

<section>
    <div class="container">
        <div class="album py-4 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-lg-12 col-md-12 text-center py-3">
                  <div class="card">
                    <div class="card-header">
                        <h3 classs="fw-light py-3">
                            Productos
                        </h3>
                    </div>
                    <div class="card-body py-5">
                      <h5 class="card-title">Filtro de Productos</h5>
                      <p class="card-text">Seleccione el producto por Categoria.</p>
                      <a href="#" class="btn btn-outline-secondary btn-sm"> Roller</a>
                      <a href="#" class="btn btn-outline-secondary btn-sm"> Americas</a>
                      <a href="#" class="btn btn-outline-secondary btn-sm"> De Tela</a>
                      <a href="#" class="btn btn-outline-secondary btn-sm"> Deco</a>
                    </div>
                  </div>
                </div>
                {% for p in productos %}
                  <div class="col">
                    <div class="card shadow-sm">
                      <img class="cortina_view" src="/media/{{p.imagen}}" alt="cortinas">
                      <div class="card-body">
                        <h6 class="titulo-card">{{p.nombre}}</h6>
                        <p class="card-text">{{p.descripcion|slice:"90"}}</p>
                        <p class="price-card">${{p.precio_venta}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="{% url 'ver' p.id %}" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-eye"></i> Ver Mas..</a>
                            <a type="button" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-cart-shopping"></i> Comprar</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}  
            </div>
        </div>
    </div>
</section>


  {% endblock contenedor %}